<!doctype html>
<html lang="PT-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body class="bg-dark text-white d-flex flex-column" style="height: 100vh;">
    <app-navbar></app-navbar>

    <!-- Conteúdo principal que vai crescer conforme necessário -->
    <div class="container mt-3 flex-grow-1" style="overflow: auto;">
      <div class="card bg-dark text-white border-light">
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

    <!-- Rodapé que ficará fixo na parte inferior -->
    <app-footer></app-footer>
  </body>
</html>