.container {
    text-align: center;
    margin-top: 100px;
  }
  
  h1 {
    font-size: 5rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  p {
    font-size: 1.2rem;
  }
  
  .btn {
    margin-top: 20px;
  }