<h1>Lista de Locações</h1>
<hr>
<div class="container mt-4">
  <table class="table table-striped table-bordered mt-3">
    <thead class="table-dark">
      <tr>
        <th>Nome do Livro</th>
        <th>Nome do Aluno</th>
        <th>Data Devolução Prevista</th>
        <th>Data Devolução Real</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let locacao of locacoes">
        <td>{{ locacao.livro.titulo }}</td>
        <td>{{ locacao.aluno.nome }}</td>
        <td>{{ locacao.dataDevolucaoPrevista | date:'dd/MM/yyyy' }}</td>
        <td>{{ locacao.dataDevolucaoReal ? (locacao.dataDevolucaoReal | date:'dd/MM/yyyy') : 'Pendente' }}</td>
        <td>
          <!-- Exibir o botão 'Detalhes' apenas se dataDevolucaoReal estiver preenchida -->
          <a *ngIf="locacao.dataDevolucaoReal" 
             class="btn btn-warning" 
             [routerLink]="['/admin/locacao/locacao-detalhes', locacao.idLocacao]">
            Detalhes
          </a>

          <button *ngIf="!locacao.dataDevolucaoReal" 
                  class="btn btn-success ms-2" 
                  (click)="marcarDevolucao(locacao.idLocacao)">
            Marcar Devolução
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>